* { margin: 0 auto; font-family: arial; font-size: 15px; }

section.tela { width: 30%; margin-top: 10px; }

/* Menu */
article.titulo { height: 50px; background-color: silver; }

div.sair { height: 100%; width: 10%; float: left; padding: 1%; padding-right: 0%; }
div.usuario { height: 100%; width: 80%; float: left; }
div.foto { float: left; padding: 1% 3% 0% 3%;}
div.nome { float: left; padding: 4% 0%;}

/* Mensagens */
article.mensagens { height: 450px; background-color: rgb(226, 223, 223); padding: 5px;}

div.mensagem { padding: 10px; margin: 0px 5px 5px 5px; border-radius: 5px; }
div.enviada { background-color: rgb(159, 192, 159); text-align: right; }
div.recebida { background-color: rgb(179, 179, 179); }

img.invertida-direita { transform: rotateY(180deg); margin: 10px; }
img.usuario { height: 40px; width: 40px; border-radius: 50%; }

/* Barra de texto */
div.campo-texto { height: 100%; width: 80%; float: left; padding: 6px 0px 0px 6px;}
div.enviar { height: 100%; width: 15%; float: left; }

div.campo-texto input[type='text'] { height: 30px; width: 100%; }
div.enviar input[type='submit'] { height: 35px; width: 100%; margin: 6px;}