* { margin: 0 auto; text-align: center; text-decoration: none; }

img { height: 28px; }

section.corpo { width: 70%; margin-top: 1%;}
section.dados { border: 1px solid silver; box-shadow: 5px 5px 5px silver; }

.bordasilver { border: solid 1px rgb(222,226,230);}

div.calendario { width: 70%; float: left;}
div.perfil { margin-left: 1%; width: 29%; float: left;}

tr.data { height: 63px; }
td.dia { font-weight: bolder; width: 20%; }
td.atividade { text-align: left; }
td.atual { background-color: rgb(169, 212, 169); }
td.alg-left { text-align: left; }

.calendario td.data { width: 10%; font-style: italic; }
.calendario td.data h1 { font-size: 15px; text-align: right;  }
.calendario td.data h2 { font-size: 10px; }
.calendario td.data a { height:100%;width:100%; }

div.menu {background-color: rgb(242,242,242); padding-top: 1% 0%; margin-bottom: 1%;}
div.messemana { text-align: right; padding: 1%;}
div.messemana select { margin-right: 1%; }
div.view { width: 50%; }

div.atividades { height: 397px; padding: 2%; color: rgb(107, 107, 107);}
div.atividades td { border:1px solid silver; border-left: none; border-right: none; }
div.atividades table { width: 90%; }

div.tabelaatividade { width: 90%; padding: 5%; }

div.tela { width: 60%; padding: 6%;}
div.alerta { width: 50%; margin: 30px auto;}
.alinkado { margin: auto 10px; }

.menu select { width: 20%; }

th.mes-calendario { text-align: left; padding: 1% 10%;}
tr.menu-calendario { font-weight: bolder; }

tr.menu-calendario td { color: #6C757D; }
tr.menu-calendario td.dia-blue { color: #007BFF; }

button.mais { background-color: transparent; border: none; color: rgba(37, 37, 37, 0.774); font-weight: bolder; }
td.mais { background-color:  rgb(242,242,242); transition: 1s; }

button.btn-acao { background: white; border: none; width: 30px; }

nav { text-align: center; }

/* Configurando cores */
.bolder { font-weight: bolder; }

.status-red { color: red; }
.status-orange { color: orange; }
.status-blue { color: blue; }
.status-green { color: green; }

/* Menu AUTH */
.menu-auth { width: 100%;}

/* Estilo dados.blade.php */
section.dados { width: 80%; }
/* section.dados h1 { font-size: 30px; } */

section.dados td.cor { width: 10%; }
section.dados td.atividade { width: 60%; text-align: left;}
section.dados td.status { width: 10%; }
section.dados td.adicionar { text-align: right; }

section.dados div.info { height: 30px; width: 30px; border-radius: 15%;}
section.dados a.adicionar { text-decoration: none; color: #0097E5; font-size: 14px; }

/* Tarefas */
h5.data { float: left; color: gray; }
a.voltar { float: left; margin: 1%; }
img.tarefa-atividade { height: 24px; }
.input-atividade { text-align: left; }
input.cor { width: 50px; }
textarea.tarefa-area { resize: none; text-align: left; width: 86.5%; border-color: rgb(206, 212, 218); border-radius: 0px 4px 4px 0px; padding: 5px 13px;}

/* Feriados */
section.feriados { width: 50%; }
div.block { display: block; height: 100%; overflow: auto; padding: 2%; color: rgb(107, 107, 107);}
div.none { display: none; height: 100%; overflow: auto; padding: 2%; color: rgb(107, 107, 107);}

@media only screen and (max-width: 1200px) {
    section.corpo { width: 80%; margin-top: 1%;}
}

@media only screen and (max-width: 900px) {
    section.corpo { width: 85%; margin-top: 1%;}
    .menu select { width: 30%; }
    div.view { width: 80%; }
}

@media only screen and (max-width: 800px) {
    section.corpo { width: 95%; margin-top: 1%;}
    .calendario button { width: 66%; }
    textarea.tarefa-area { width: 79.8%; }
}

@media only screen and (max-width: 600px) {
    .calendario button { width: 100%;}
    div.view { width: 100%; }
}